{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Form</title>
    <link rel="stylesheet" href="{% static 'css/add_admin.css' %}">
    <script>
        function validateForm() {
            const name = document.forms["signupForm"]["name"].value;
            const age = document.forms["signupForm"]["age"].value;
            const collegename = document.forms["signupForm"]["collegename"].value;
            const branch = document.forms["signupForm"]["branch"].value;
            const year = document.forms["signupForm"]["year"].value;
            const contact_no = document.forms["signupForm"]["contact_no"].value;
            const dateofbirth = document.forms["signupForm"]["dateofbirth"].value;
            const email = document.forms["signupForm"]["email"].value;
            const password = document.forms["signupForm"]["password"].value;
            const confirm_password = document.forms["signupForm"]["confirm_password"].value;

            
            if (name === "" || contact_no === "" || email === "" || password === "" || confirm_password === "") {
                alert("All fields must be filled out");
                return false;
            }


            
            if (!/^\d{10}$/.test(contact_no)) {
                alert("Please enter a valid 10-digit contact number");
                return false;
            }


            
            if (password !== confirm_password) {
                alert("Passwords do not match");
                return false;
            }

            return true;
        }
    </script>
</head>
<body>

<div class="signup-container">
    <h2>Add Admin</h2>
    <form name="signupForm" action="{% url 'adminapp:add_admin' %}" method="POST" onsubmit="return validateForm()">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Full Name" required>
        <input type="number" name="contact_no" placeholder="Contact Number" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="confirm_password" placeholder="Confirm Password" required>
        <button type="submit">Add Admin</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
</body>
</html>