body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #ffffff;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #333;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 20px;
}
.event_container{
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
}

.eventbox{
    padding: 30px 30px;
    margin: 30px;
    background-image: linear-gradient(to right, #4867e0 60%, #329fec);
    border-radius: 10px;
    max-width: 310px;
}

.eventbox img{
    border: 5px ridge #329fec;
}

.eventbox p{
    margin-bottom: 0px;
}

.eventbox .title{
    font-size: 1.3em;
}

.eventbox .label{
    font-weight: bold;
}
.register-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    margin-left: 100px;
}

.register-button:hover {
    background-color: #0056b3;
}
.download-pdf {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-pdf:hover {
    background-color: #0056b3;
}
