{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College homepae</title>
    <link rel="stylesheet" href="{% static 'css/college_homepage.css' %}">
</head>
<body>
 <!-- Header -->
 <header>
    <div class="logo">College Fest Finder</div>
    <nav>
        <ul>
            <li><a href="{% url 'colleges:add_event' %}">Add Event</a></li>
            <li><a href="{% url 'colleges:delete_event_page_without_id' %}">Delete Event</a></li>
            <li><a href="{% url 'colleges:update_event_page' %}">Edit Event</a></li>
            <li><a href="{% url 'colleges:colleges_logout' %}">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="first_heading">
    <h1>Events</h1>
</div>
<div class="event_container">
    {% for event_feedback in event_feedbacks %}
        <div class="eventbox">
            <img src="{{ event_feedback.event.event_logo.url }}" height="300px" width="300px">
            <p class="title">{{ event_feedback.event.event_name }}</p>
            <p><span class="label">Description:</span> {{ event_feedback.event.event_description }}</p>
            <p><span class="label">End Date:</span> {{ event_feedback.event.event_end_date }}</p>
            <p><span class="label">Status:</span> {{ event_feedback.event.event_status }}</p>
            
            <div class="feedback_section">
                <h3>Feedback:</h3>
                {% if event_feedback.feedbacks %}
                    <ul>
                        {% for feedback in event_feedback.feedbacks %}
                            <li>
                                <p><strong>{{ feedback.student.name }}:</strong> {{ feedback.feedback_text }}</p>
                                <p>Rating: {{ feedback.rating }}/5</p>
                                <p>Date: {{ feedback.feedback_date }}</p>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No feedback available for this event.</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>
