{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College homepae</title>
    <link rel="stylesheet" href="{% static 'css/college_homepage.css' %}">
</head>
<body>
 <!-- Header -->
 <header>
    <div class="logo">College Fest Finder</div>
    <nav>
        <ul>
            <li><a href="{% url 'colleges:add_event' %}">Add Event</a></li>
            <li><a href="{% url 'colleges:delete_event_page_without_id' %}">Delete Event</a></li>
            <li><a href="{% url 'colleges:update_event_page' %}">Edit Event</a></li>
            <li><a href="{% url 'colleges:colleges_logout' %}">Logout</a></li>
        </ul>
    </nav>
</header>
<div class="first_heading">
    <h1>Events</h1>
</div>
<div class="event_container">
    {% for event in events %}    
        <div class="eventbox">
            <img src="{{ event.event_logo.url }}" height="300px" width="300px">
            <p class="title">{{event.event_name}}</p>
            <p><span class="label">Description:</span> {{event.event_description}}</p>
            <p><span class="label">End Date:</span> {{event.event_end_date}}</p>
            <p><span class="label">Status:</span> {{event.event_status}}</p>
        </div>
    {% endfor %}
</div>
</body>
</html>
